/**
 * Created 2017-3-29 11:33:00
 */

@import "../../components/common/base";
.g-body {
    position: relative
}

.g-main {
    background: #ede;
    height: inherit;
}

.g-con {
    margin: 0 auto;
    padding: 0 0.5rem
}

// top roll div
.m-tipRollDiv {
    max-height: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
    display: block;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    img {
        width: pxToRem(14);
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: pxToRem(4);
    }
    //向左滚动
    .m-ScrollAround {
        width: 70%;
        text-align: left;
        overflow: hidden;
        float: left;
        .u-left {
            width: 10%;
        }
        .u-right {
            width: 90%;
        }
        ul {
            // width: 90%;
            overflow: hidden;
            white-space: nowrap;
            li {
                display: inline-block;
                width: 100%;
            }
        }
    }
    //向上滚动
    .m-ScrollUp {
        width: 30%;
        height: 1rem;
        float: right;
        overflow: hidden;
        text-align: right;
        ul {
            // width: 90%;
            // overflow: hidden;
            // white-space: nowrap;
            li {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.m-headline {
    width: 80%;
    height: pxToRem(40);
    margin: pxToRem(20) auto;
}

// m-lottery 
.m-lottery {
    width: 85%;
    margin: pxToRem(20) auto 0;
    .u-div {
        text-align: center;
        height: pxToRem(100);
        line-height: pxToRem(100);
        border: 1px solid #ddd;
    }
    .active {
        border: 1px solid red;
    }
    .u-doBtn {
        background: url('doBotn@2x.png') center no-repeat;
        background-size: 90% 96%;
    }
}