<!--
    @require "index.js"
-->
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>loading...</title>
    <link rel="import" href="../tpl/header/header.html?__inline">
</head>

<body class="g-body">
    <div id="vm" v-cloak class="g-main">

        <div class="m-tipRollDiv g-con">
            <div class="m-ScrollAround">
                <span class="pull-left u-left"><img src="horn.png" alt=""></span>
                <div class="pull-left u-right">
                    <ul id="marquee">
                        <li>向左滚动1</li>
                        <li>向左滚动2</li>
                        <li>向左滚动3</li>
                        <li>向左滚动4</li>
                        <li>向左滚动5</li>
                    </ul>
                </div>
            </div>
            <div class="m-ScrollUp">
                <div class="pull-right">
                    <ul id="marqueeUp">
                        <li>向上滚动1</li>
                        <li>向上滚动2</li>
                        <li>向上滚动3</li>
                        <li>向上滚动4</li>
                        <li>向上滚动5</li>
                        <li>向上滚动6</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="test" id="some_element">


        </div>


    </div>
    <link rel="import" href="../tpl/footer/footer.html?__inline">

</body>

</html>